$BrendColor: #22A4E2;
$gray: #757782;
$black: #1C1E26;
$white: #F1F2F6;

.activeColor {
    color: $BrendColor  !important;
}

.btn {
    background: $BrendColor;
    border-radius: 5px;
    padding: 15px 30px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid $BrendColor;
    transition: 0.3ms ease-in-out;

    &:hover {
        background-color: #fff;
        color: $BrendColor;
    }
}

@media (max-width: 576px) {
    .btn {
        padding: 10px 20px;
        font-size: 12px;
    }
}

.Navbar {
    height: 176px;

    .NavTop {
        height: 100px;
        display: flex;
        align-items: center;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .NavLogo {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .NavDesk {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 50px;

            .telegram a {
                display: flex;
                gap: 1rem;
                align-items: center;

                p {
                    font-size: 15px;
                    line-height: 17px;
                    color: #757782;
                }

                h5 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #1C1E26;
                }
            }

            .NavNetworks {
                display: flex;
                gap: 1.5rem;

                .instagram,
                .facebook {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 38px;
                    width: 38px;
                    background: $white;
                    border-radius: 50%;
                }
            }

            .CallMarkaz {
                display: flex;
                align-items: center;
                gap: 10px;

                .CallDesk {
                    p {
                        color: $gray;
                        font-size: 14px;
                    }

                    h4 {
                        color: $black;
                        font-weight: 500;
                        font-size: 16px;
                    }
                }
            }

            .NavEmail {
                display: flex;
                gap: 10px;
                align-items: center;

                .SmsDesk {
                    p {
                        color: $gray;
                        font-size: 14px;
                    }

                    h4 {
                        color: $black;
                        font-weight: 500;
                        font-size: 16px;
                    }

                }
            }
        }
    }

    .NavbarBottom {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 76px;

        .container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        border-top: 1px solid #E0E2E8;

        .NavLinks {
            ul {
                display: flex;
                align-items: center;
                gap: 0 7rem;

                li {
                    color: $gray;
                    font-weight: 500;
                    font-size: 16px;

                }
            }
        }

        .NavEnd {
            display: flex;
            gap: 0 20px;
            align-items: center;
        }
    }
}


.Search {
    display: none;
}

.NavSignUpBtn,
.Navbar .container .bars,
.Navbar .container .NavDesk .telegram a h2 {
    display: none;
}

@media (max-width: 1250px) {
    .Navbar .NavbarBottom .NavLinks ul {
        gap: 0 3rem;
    }
}

@media (max-width: 950px) {
    .Navbar .NavbarBottom .NavLinks ul {
        gap: 0 .5rem;
    }
}

@media (max-width: 744px) {
    .NavTop {
        .NavDesk {
            .Search {
                display: block;
            }


        }
    }

    .Search {
        display: block;
    }

    .NavSignUpBtn,
    .Navbar .container {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .NavSignUpBtn,
    .Navbar .container .NavSignUpBtn {
        display: block;
        text-align: center;
    }

    .Navbar .container .NavDesk {
        gap: 5px;
    }

    .Navbar .container .NavDesk .NavNetworks .telegram a {
        display: flex;
        justify-content: center;
        display: none;
    }

    .Navbar .NavbarBottom .NavLinks {
        width: 100%;
    }

    .Navbar .NavbarBottom .NavLinks ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .Navbar .NavbarBottom .NavLinks ul li {
        font-size: 14px;
    }

    .Navbar .container .NavDesk .telegram a h2 {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #1C1E26;
        display: block;
    }

    .Navbar .container .NavDesk .telegram a h5,
    .Navbar .container .NavDesk .telegram a p,
    .Navbar .container .NavDesk .NavNetworks .instagram,
    .Navbar .container .NavDesk .NavNetworks .facebook {
        display: none;
    }

    .Navbar .NavbarBottom .NavEnd {
        display: none;
    }
}

@media (max-width: 610px) {
    .Navbar .container {
        padding: 0 5px;
    }

    .Navbar .container {
        grid-template-columns: 80px auto;
    }

    .Navbar .container .NavDesk {
        gap: 2px;
    }

    .Navbar .NavbarBottom .NavLinks ul {
        gap: 2px;
    }

    .Navbar .container .NavDesk .telegram a {
        margin: 0;
        gap: 5px;
    }

    .Navbar .container .NavDesk .CallMarkaz {
        gap: 5px;
    }
}

@media (max-width: 576px) {
    .Navbar .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .Navbar .container .NavLogo {
        width: 157px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Navbar .container .NavLogo img {
        width: 157px;
    }

    .NavSignUpBtn,
    .Navbar .container .bars {
        display: flex;
        align-items: center;
    }

    .NavSignUpBtn .btn {
        padding: 10px 20px;
    }

    .Search,
    .Navbar .NavbarBottom,
    .Navbar .container .NavDesk {
        display: none;
    }

    .Navbar {
        height: 100px;
        border-bottom: 1px solid #E0E2E8;
    }

    .NavSignUpBtn .btn {
        padding: 7px 15px;
    }
}