.scroll-to-top {
  background-color: #22a4e2 !important;
  font-weight: bold !important;
  right: 20px !important;
  z-index: 55 !important;
}

.Footer {
  width: 100%;
  background: linear-gradient(#11142ddc, #11142dde),
    url(../../assets/images/footerBg.png);
  background-size: cover;
  height: 713px;
  color: #fff;

  .FooterContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5rem;
  }

  .ftrTop {
    display: flex;
    align-items: center;
    height: calc(100% - 150px);
  }
  .footerLogo {
    transition: all 1.4s linear;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }

  .container {
    display: flex;

    .FooterLinks {
      width: 100%;
      display: flex;
      gap: 5rem;

      h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        margin-bottom: 2rem;
      }

      li {
        font-size: 16px;
        line-height: 19px;
        color: #afb2c1;
        cursor: pointer;
        margin: 1rem 0;
        transition: 0.4s ease;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          width: 100%;
          height: 2.5px;
          background: #3498db;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.5s;
        }
        &::before {
          position: absolute;
          content: "";
          bottom: 100%;
          right: 0;
          width: 100%;
          height: 2px;
          background: #3498db;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.5s;
        }

        &:hover {
          color: #22a4e2;
        }
        &:hover::after {
          transform: scaleX(1);
          transform-origin: left;
        }
        &:hover::before {
          transform: scaleX(1);
          transform-origin: right;
        }
      }

      .FooterContact {
        display: flex;
        gap: 6rem;
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #afb2c1;
          margin: 1rem 0;
        }

        .FtrConIcon {
          display: flex;
          gap: 1rem;

          .telegram,
          .instagram,
          .facebook {
            border: 1px solid #ffffff;
            border-radius: 50%;
            display: flex;
            height: 60px;
            width: 60px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 0.3s ease;
            &:hover {
              background: #22a4e2;
              transform: rotateY(360deg);
            }
          }
        }
      }
    }
  }

  .ftrBottom {
    height: 100px;
    border-top: 1px solid #e0e2e8;
    display: flex;
    .container2 {
      height: 100%;
      width: 100%;
      align-items: center;
    }

    h5 {
      font-size: 18px;
      line-height: 22px;
      opacity: 0.5;
      color: #fff;
    }
  }
}

.Footer .container .FooterLinks .Ftrcont {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
@media (max-width: 1000px) {
  .Footer .container .FooterLinks .FooterContact,
  .Footer .FooterContent {
    gap: 2rem;
  }
  .Footer .container .FooterLinks .Ftrcont,
  .Footer .container .FooterLinks {
    gap: 3rem;
  }
}

@media (max-width: 744px) {
  .Footer .FooterContent,
  .Footer .container .FooterLinks .FooterContact {
    display: block;
  }

  .Footer .FooterContent .footerLogo {
    padding-bottom: 2rem;
  }

  .Footer .container .FooterLinks .FooterContact .FtrConIcon .telegram,
  .Footer .container .FooterLinks .FooterContact .FtrConIcon .instagram,
  .Footer .container .FooterLinks .FooterContact .FtrConIcon .facebook {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 576px) {
  .Footer .container .FooterLinks {
    display: block;
  }

  .Footer .container .FooterLinks .Ftrcont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .Footer .container .FooterLinks h3 {
    margin-bottom: 1rem;
  }

  .Footer .container .FooterLinks li {
    margin: 1rem 0;
    // width: 50%;
  }

  .Footer .container .FooterLinks .FooterContact {
    margin: 2rem 0 4rem;
    width: 100%;
  }

  .Footer .container .FooterLinks .FooterContact .FtrConIcon {
    margin-top: 1rem;
  }

  .Footer .FooterContent .footerLogo {
    display: flex;
    // justify-content: center;
    align-items: flex-start;
    margin-top: 9rem;
  }
  .ftrBottom {
    height: 0px !important;
    border-top: 1px solid #e0e2e8;
    display: flex;
    margin-top: 90px !important;
    .container2 {
      height: 100%;
      width: 100%;
      align-items: center;
    }

    h5 {
      padding-top: 50px !important;
      font-size: 18px;
      line-height: 22px;
      opacity: 0.5;
      color: #fff;
    }
  }
}

// uuuuuuuuuuuuuuuuuuuuu
