* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter";
}

.container {
  max-width: 1320px;
  padding: 0  15px;
  margin: 0 auto;
}